.background-setting {
    background-position: 50% 50%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.divider {
    height: 100%;
    border: 1px solid #3E3E3E;
}

.drop-icon-down {
    width: 24px;
    height: 24px;
    background-image: url(assets/images/arrow-drop.png);
}

.drop-icon-down:hover {
    cursor: pointer;
}

.drop-icon-up {
    width: 24px;
    height: 24px;
    background-image: url(assets/images/arrow-drop-up.png);
}

.drop-icon-up:hover {
    cursor: pointer;
}

.search-icon {
    width: 24px;
    height: 24px;
    background-image: url(assets/images/search-light.png);
}

.search-icon:hover {
    cursor: pointer;
}

.close-round-duotone-icon {
    width: 24px;
    height: 24px;
    background-image: url(assets/images/close-round-duotone.png);
}

.close-round-duotone-icon:hover {
    cursor: pointer;
}

.dragon-icon {
    width: 30px;
    height: 30px;
    background-image: url(assets/images/dragon-icon.png);
}

.thunder-icon {
    width: 30px;
    height: 30px;
    background-image: url(assets/images/thunder-icon.png);
}

.type-text-icon {
    margin-left: 10px;
    border-radius: 39px;
    padding: 0px 10px;
    height: 20px;

    color: #FFF;
    font-family: Pretendard Variable;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}